﻿
    /* layout
    ----------------------------------------------------------*/
    #headerZone {
        width: 100%;/*1900px*/
        height: 7em;
        border-bottom: .1em solid black;
    }
    #nsLogo {
        width: 21.052632%;/*400px*/
        height: 7em;
        float: left;
        padding-top: 1em;
    }
    #contentMenu {
        width: 31.578947%;/*600px*/
        height: 1.2em;
        float: right;
        text-align: right;
        margin-top: 5.8em;
        padding-right: 3.052632%;
    }
    #contentMenu .menuItem {
        width: 15%;
        float: right;
        text-align: center;
    }
    #titleZone {
        width: 100%;
        height: 4em;
        border-bottom: .1em solid black;
    }
    #mainTitle {
        width: 100%;
        height: 4em;
        text-align: center;
        font: bold 2em arial, verdana;
        padding-top: .5em;
    }
    #appZone {
        width: 100%;
        border-bottom: .1em solid black;
    }
    #loginForm {
        width: 9.210526%;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 44.736842%;
        border: .1em inset black;
        padding-left: .5%;
        padding-bottom: .5em;
        padding-right: .5%;
        min-width:9em;
    }
    #loginForm input[type=password],input[type=text] {
        width: 100%;
    }
    #loginForm input[type=button] {
        width: 25%;
    }
    #submitLoginItem { 
        padding-left: 25%;
    }
    .credentialsItem {    }
