﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Navigation Solutions MergeQueue</title>
    <link href="~/Content/Images/nsFavicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header id="headerZone">
        <div id="nsLogo">
            <img src="~/Content/Images/NSLogo.png" />
        </div>
        <div id="contentMenu">
            @Html.Partial("_ContentMenuPartial")
        </div>
    </header>
    <div id="titleZone">
        <div id="mainTitle">
            <p>@ViewBag.MainTitle</p>
        </div>
    </div>
    <div id="appZone">
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; 2014 - Navigation Solutions</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
