﻿@using MergeQueueUpgraded.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log In";
    ViewBag.MainTitle = "Welcome! Please Log In.";
}

        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                <fieldset>
                    <legend>Credentials</legend>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="credentialsItem">
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = "User Name" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="credentialsItem">
                        @Html.PasswordFor(m => m.Password, new { @placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="credentialsItem">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                    <div id="submitLoginItem" class="credentialsItem">
                        <input type="submit" value="Log in" class="btn btn-default" />
                    </div>
                </fieldset>
    @* Enable this once you have account confirmation enabled for password reset functionality
        <p>
            @Html.ActionLink("Forgot your password?", "ForgotPassword")
        </p>*@
            }
</section>
